---
---

<!doctype html>
<html class="no-js" lang="en">

  <head>
    {% include head.html %}     
    <title>PharMed | Industry News</title>      
    <script type="text/javascript">
    // Parses returned response and extracts  
    // the title, links, and text of each news story.  
    function fda_stories(o){  
      var items = o.query.results.item;  
      var fda_output = '';  
      var no_items=items.length;  
      for(var i=0;i<no_items;i++){  
        var title = items[i].title;  
        var link = items[i].link;  
        var desc = items[i].description; 
        var date = items[i].pubDate; 
        fda_output += "<h4><a href='" + link + "'>"+title+"</a></h4><p>" + date + "</p><p>" + desc + "</p>";  
        }    
    // Place news stories in div tag  
      document.getElementById('drugs').innerHTML = fda_output;      
    }  

    function cdrh_stories(o){  
      var items = o.query.results.item;  
      var cdrh_output = '';  
      var no_items=items.length;  
      for(var i=0;i<no_items;i++){  
        var title = items[i].title;  
        var link = items[i].link;  
        var desc = items[i].description; 
        var date = items[i].pubDate; 
        cdrh_output += "<h4><a href='" + link + "'>"+title+"</a></h4><p>" + date + "</p><p>" + desc + "</p>";  
        }
      // Place news stories in div tag           
      document.getElementById('devices').innerHTML = cdrh_output;
    }
    </script>  
  </head>

  <body>
  {% include nav.html %} 
    
    <div id="header" class="animated fadeIn column row news-header">
      <div id="title" class="animated slideInLeft">
        <div class="row">
          <div class="small-12 medium-10 medium-offset-2 columns">
            <h1>Latest News</h1>
          </div>
        </div>
        <div class="row">
          <div class="small-12 medium-8 medium-offset-2 large-4 large-offset-2 columns">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit illum, quae provident in. Assumenda vero suscipit dolor pariatur ducimus sint aspernatur, tenetur officia harum sequi quos voluptate omnis, illum ipsa?</p>
          </div>
        </div>
      </div>
    </div><!-- column row -->
    
    <div class="row">
      <div class="small-12 columns">
        <h2>Regulatory News Feeds</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore nihil ducimus quo optio quasi esse adipisci modi iste commodi, voluptatibus aut provident ea nesciunt, magnam sed. Quam nostrum assumenda maiores.</p>
      </div>
    </div><!-- row -->

    <div class="row">
      <div class="small-12 columns">
        <h3>FDA What's New: Drugs</h3>         
      </div>
      <div id="drugs" class="small-11 small-centered columns news">        
      </div>
    </div><!-- row -->

    <div class="row">
      <div class="small-12 columns ">
        <hr>
      </div>
    </div><!-- row -->
    
    <div class="row" id="cdrh">
      <div class="small-12 columns">
        <h3>CDRHNew: News and Updates</h3>         
      </div>
      <div id='devices' class="small-11 small-centered columns news">  
      </div>
    </div><!-- row -->

  {% include footer.html %} 

  <script src="https://query.yahooapis.com/v1/public/yql?q=select%20*%20from%20rss%20where%20url%3D%22http%3A%2F%2Fwww.fda.gov%2FAboutFDA%2FContactFDA%2FStayInformed%2FRSSFeeds%2FDrugs%2Frss.xml%22&format=json&diagnostics=true&callback=fda_stories"></script>
  <script src="https://query.yahooapis.com/v1/public/yql?q=select%20*%20from%20rss%20where%20url%3D%22http%3A%2F%2Fwww.accessdata.fda.gov%2Fscripts%2Fcdrh%2Fcfdocs%2FcfTopic%2Fcdrhnew-rss.cfm%22&format=json&diagnostics=true&callback=cdrh_stories"></script>
  </body>
</html>

