---
---

<!doctype html>
<html class="no-js" lang="en">

  <head>
    {% include head.html %}     
    <title>PharMed | Other Resources</title>    
  </head>

  <body>
  {% include nav.html %} 
    
    <div id="header" class="animated fadeIn column row resources-header">
      <div id="title" class="animated slideInLeft">
        <div class="row">
          <div class="small-12 medium-10 medium-offset-2 columns">
            <h1>Resources</h1>
          </div>
        </div>
        <div class="row">
          <div class="small-12 medium-8 medium-offset-2 large-4 large-offset-2 columns">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit illum, quae provident in. Assumenda vero suscipit dolor pariatur ducimus sint aspernatur, tenetur officia harum sequi quos voluptate omnis, illum ipsa?</p>
          </div>
        </div>
      </div>
    </div><!-- column row -->
    
    <div class="row">
      <div class="small-12 columns">
        <h2>Scientific Resources</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore nihil ducimus quo optio quasi esse adipisci modi iste commodi, voluptatibus aut provident ea nesciunt, magnam sed. Quam nostrum assumenda maiores.</p>
      </div>
    </div><!-- row -->

    <div class="row text-center">
      <div class="small-12 columns text-left">
       <h3>Scientific Calculator</h3>
      </div>
      <div class="large-10 large-centered columns show-for-large-up">
        <iframe width="760" height="390" src="http://web2.0calc.com/widgets/horizontal/?options=%7B%22angular%22%3A%22deg%22%2C%22options%22%3A%22show%22%2C%22menu%22%3A%22show%22%7D" style="border: 1px solid silver; "> 
        </iframe>
        <br />
        <a href="http://web2.0calc.com/">Web 2.0 scientific calculator</a>
      </div>
      <div class="medium-11 medium-centered columns show-for-medium-only">
        <iframe width="590" height="390" src="http://web2.0calc.com/widgets/horizontal/?options=%7B%22angular%22%3A%22deg%22%2C%22options%22%3A%22show%22%2C%22menu%22%3A%22show%22%7D" style="border: 1px solid silver; "> 
        </iframe>
        <br />
        <a href="http://web2.0calc.com/">Web 2.0 scientific calculator</a>
      </div>
      <div class="small-12 columns show-for-small-only">
        <iframe width="300" height="390" src="http://web2.0calc.com/widgets/minimal/?options=%7B%22angular%22%3A%22deg%22%2C%22options%22%3A%22hide%22%2C%22menu%22%3A%22show%22%7D" style="border: 1px solid silver; "> 
        </iframe>
        <br />         
      </div>
    </div><!-- row -->

    <div class="row">
      <div class="small-12 columns ">
        <hr>
      </div>
    </div><!-- row -->
    
    <div class="row">
      <div class="small-12 columns">          
        <h3>WolframAlpha Search</h3>
      </div>
      <div class="small-12 columns text-center show-for-medium-up calculator">
        <iframe width="532" height="56" src="http://www.wolframalpha.com/Calculate/embed/largeannot.jsp"></iframe>
      </div> 
      <div class="small-12 columns text-center show-for-small-only calculator">
        <iframe width="210" height="86" src="http://www.wolframalpha.com/Calculate/embed/medium.jsp"></iframe>
      </div>        
    </div><!-- row -->

  {% include footer.html %}   
  </body>
</html>