<footer class="text-center">

 <div class="show-for-small-only">
  <div class="row">
     <div class="small-12 columns social">
      <a href="http://www.linkedin.com"><i class="fa fa-linkedin-square fa-3x"></i></a>
      <a href="http://www.facebook.com"><i class="fa fa-facebook-square fa-3x"></i></a>
     </div>
   </div><!-- row -->
   <div class="row">
     <div class="small-12 columns">
       <p>Copyright 2015 PharMed Consulting</p>
     </div>
   </div><!-- row -->
 </div><!-- small-only -->

 <div class="show-for-medium-up">
    <div class="row">
      <div class="small-12 columns">
        <p>Click the button to contact PharMed Consulting or connect with us on LinkedIn and Facebook</p>
      </div>
    </div><!-- row -->
    <div class="row">
      <div class="small-6 columns text-right">
       <a href="contact.html" class="button radius">Let's Talk</a>
      </div>
     <div class="small-6 columns text-left social">
       <a href="http://www.linkedin.com"><i class="fa fa-linkedin-square fa-3x"></i></a>
       <a href="http://www.facebook.com"><i class="fa fa-facebook-square fa-3x"></i></a>
     </div>      
    </div><!-- row -->
    <div class="row">
      <div class="small-12 columns">
       <p class="copyright"><small>Copyright &#169; 2015 PharMed Consulting</small></p>
       <a href="http://validator.w3.org/check/referer"><img src="http://www.netwebdev.net/webclass/images/valid-html5.png" alt="Valid HTML5!" height="15" width="80" /></a>
      </div>
    </div><!-- row -->
 </div><!-- medium-up -->
  
</footer>

</div><!--/mainSection-->

<a class="exit-off-canvas"></a>

</div><!--/innerWrap-->
</div><!--/offCanvasWrap-->

<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/foundation/js/foundation.min.js"></script>
<script src="js/app.js"></script>